<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">

      <h2 class="footer-heading">{{ site.title | escape }}</h2>
  
      <div class="footer-col-wrapper">
        <div class="footer-col">
            <p>{{ site.description | escape }}</p>
            <p>Bot Writing and OC Work, Copyright © 2023-2025 Bronya Rand (bronya_rand). All rights reserved.</p>
            <p>Honkai: Star Rail, Honkai Impact 3rd and Genshin Impact, Copyright © 2016-2025 (HI3), 2020-2025 (GI) & 2023-2025 (HSR) miHoYo Co. Ltd./HoYoverse. All rights reserved.</p>
            <p>Art used for character cards are the respective property of the artists linked under 'Sauce IMG for Card' or the equivalent.</p>
        </div>
        <!-- <div class="footer-col">
          <p class="feed-subscribe">
            <a href="{{ site.feed.path | default: 'feed.xml' | absolute_url }}">
              <svg class="svg-icon orange">
                <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
              </svg><span>Subscribe</span>
            </a>
          </p>
        {%- if site.author %}
          <ul class="contact-list">
            {% if site.author.name -%}
              <li class="p-name">{{ site.author.name | escape }}</li>
            {% endif -%}
            {% if site.author.email -%}
              <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
            {%- endif %}
          </ul>
        {%- endif %}
        </div> -->
      </div>
  
      <div class="social-links">
        {%- include social.html -%}
      </div>
  
    </div>
  
  </footer>
  